In [1]:
## Import all the things

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

%matplotlib inline

# The Carpentries: Programmatic Assessment Report
## 2017 Year End and 2018 Q1

# Part 1: Workshops over time

## Workshops by Carpentry by Year

### Table: All SWC & DC workshops, 2012-2018Q1
Instructor training events are analyzed separately.

In [2]:
# Load csv into df
workshops = pd.read_csv("data_files/workshops.csv")

# Clean up the tag names
workshops.loc[workshops['tag_name'].str.contains("SWC"), "tag"] = "SWC"
workshops.loc[workshops['tag_name'].str.contains("DC"), "tag"] = "DC"
workshops.loc[workshops['tag_name'].str.contains("LC"), "tag"] = "LC"
workshops.loc[workshops['tag_name'].str.contains("TTT"), "tag"] = "TTT"

# Clean up attendance value - this is inconsistently stored as NaN or 0
# All zero values should be NaN

# df.replace(-999, np.nan)
# workshops = workshops['attendance'].replace(0.0, np.nan)

workshops['attendance'] =  workshops['attendance'].replace(0.0, np.nan)

# Date data type
workshops['start'] = pd.to_datetime(workshops['start'])

# Remove instructor training events; these will be analyzed separately.
# Limit to non TTT workshops

workshops_nonTTT = workshops[workshops['tag'] != "TTT"]
workshops_nonTTT

,slug,tag_name,start,attendance,host_name,country,tag
0,2012-01-18-stsci,SWC,2012-01-18,14.0,Space Telescope Science Institute,US,SWC
1,2012-02-20-itcp,SWC,2012-02-20,50.0,International Centre for Theoretical Physics,IT,SWC
2,2012-02-23-toronto,SWC,2012-02-23,28.0,University of Toronto,CA,SWC
3,2012-03-07-indiana,SWC,2012-03-07,39.0,Indiana University,US,SWC
4,2012-03-26-mbari,SWC,2012-03-26,38.0,Monterey Bay Aquarium Research Institute,US,SWC
5,2012-03-28-nersc,SWC,2012-03-28,35.0,NERSC,US,SWC
6,2012-04-02-chicago,SWC,2012-04-02,35.0,University of Chicago,US,SWC
7,2012-04-14-utahstate,SWC,2012-04-14,32.0,Utah State University,US,SWC
8,2012-04-30-ucl,SWC,2012-04-30,44.0,University College London,GB,SWC
9,2012-05-07-michiganstate,SWC,2012-05-07,55.0,Michigan State University,US,SWC
10,2012-05-14-newcastle,SWC,2012-05-14,41.0,University of Newcastle,GB,SWC
11,2012-05-16-alberta,SWC,2012-05-16,38.0,University of Alberta,CA,SWC
12,2012-05-22-ubc,SWC,2012-05-22,39.0,University of British Columbia,CA,SWC
13,2012-06-18-jhu,SWC,2012-06-18,20.0,Johns Hopkins University,US,SWC
14,2012-06-28-inria,SWC,2012-06-28,28.0,INRIA (Paris),FR,SWC
15,2012-07-09-mit,SWC,2012-07-09,36.0,Massachusetts Institute of Technology,US,SWC
16,2012-07-10-ral,SWC,2012-07-10,24.0,Science & Technology Facilities Council,GB,SWC
17,2012-07-12-waterloo,SWC,2012-07-12,40.0,University of Waterloo,CA,SWC
18,2012-07-16-halifax,SWC,2012-07-16,40.0,Saint Mary's University,CA,SWC
19,2012-07-19-utsc,SWC,2012-07-19,39.0,University of Toronto (Scarborough),CA,SWC
21,2012-09-13-dafx,SWC,2012-09-13,33.0,DAFX Conference,GB,SWC
22,2012-09-17-oslo,SWC,2012-09-17,34.0,University of Oslo,NO,SWC
23,2012-09-28-columbia,SWC,2012-09-28,39.0,Columbia University,US,SWC
24,2012-10-08-purdue,SWC,2012-10-08,42.0,Purdue University,US,SWC
26,2012-10-17-lbl,SWC,2012-10-17,40.0,Lawrence Berkeley National Laboratory,US,SWC
27,2012-10-18-ubc,SWC,2012-10-18,62.0,University of British Columbia,CA,SWC
28,2012-10-20-ucb,SWC,2012-10-20,29.0,University of California Berkeley,US,SWC
29,2012-10-22-newcastle,SWC,2012-10-22,31.0,University of Newcastle,GB,SWC
30,2012-10-23-caltech,SWC,2012-10-23,34.0,California Institute of Technology,US,SWC
31,2012-10-25-gmu,SWC,2012-10-25,7.0,George Mason University,US,SWC
...,...,...,...,...,...,...,...
1429,2018-03-08-geneva,SWC,2018-03-08,17.0,University of Geneva,CH,SWC
1430,2018-03-08-gwu,SWC,2018-03-08,7.0,George Washington University,US,SWC
1431,2018-03-08-manchester-swc,SWC,2018-03-08,20.0,University of Manchester,GB,SWC
1432,2018-03-10-uscf-R,SWC,2018-03-10,25.0,University of California San Francisco,US,SWC
1433,2018-03-10-uscf-python,SWC,2018-03-10,25.0,University of California San Francisco,US,SWC
1434,2018-03-12-mun,SWC,2018-03-12,15.0,Memorial University,CA,SWC
1435,2018-03-12-stockholm,SWC,2018-03-12,13.0,Lund University,SE,SWC
1436,2018-03-12-tamu,SWC,2018-03-12,22.0,Texas A&M University,US,SWC
1438,2018-03-13-census,SWC,2018-03-13,19.0,National Institute of Standards and Technology,US,SWC
1440,2018-03-14-SFU-python,SWC,2018-03-14,NaN,Simon Fraser University,CA,SWC
1441,2018-03-14-unt-swc,SWC,2018-03-14,14.0,University of North Texas,US,SWC
1442,2018-03-15-Boise,SWC,2018-03-15,48.0,Boise State University,US,SWC
1443,2018-03-15-lund,SWC,2018-03-15,16.0,Lund University,SE,SWC
1444,2018-03-19-Imperial,SWC,2018-03-19,NaN,Imperial College London,GB,SWC
1445,2018-03-19-curtin,SWC,2018-03-19,NaN,Curtin University,AU,SWC
1446,2018-03-19-ou,SWC,2018-03-19,NaN,University of Oklahoma,US,SWC
1448,2018-03-20-UFDataSymposium,DC,2018-03-20,21.0,University of Florida,US,DC
1449,2018-03-20-genentech,DC,2018-03-20,37.0,Genentech,US,DC
1450,2018-03-20-gpn,SWC,2018-03-20,NaN,Great Plains Network,US,SWC
1452,2018-03-22-csumb,SWC,2018-03-22,NaN,California State University Monterey Bay,NaN,SWC
1453,2018-03-22-nasa,SWC,2018-03-22,19.0,NASA (National Aeronautics and Space Administr...,US,SWC
1455,2018-03-26-DC-HU,DC,2018-03-26,NaN,Hawassa University,ET,DC
1457,2018-03-26-ucriverside,SWC,2018-03-26,10.0,"University of California, Riverside",US,SWC
1458,2018-03-28-paris,SWC,2018-03-28,12.0,ELIXIR-UK,FR,SWC
1459,2018-03-28-stanford,SWC,2018-03-28,21.0,Stanford University,US,SWC
1460,2018-03-28-ucirvine,SWC,2018-03-28,22.0,University of California Irvine,US,SWC
1461,2018-03-29-SWC-HU,SWC,2018-03-29,NaN,Hawassa University,ET,SWC
1462,2018-03-29-standrews,SWC,2018-03-29,NaN,University of St. Andrews,GB,SWC
1463,2018-03-29-stanford,SWC,2018-03-29,40.0,Stanford University,US,SWC
1464,datacarpentry_2015-11-23_VLSCI,DC,2015-11-23,18.0,VLSCI,AU,DC

### Workshops by Carpenty by year: Table view
The table and chart below show the number of Software Carpentry and Data Carpentry workshops has remained roughly steady for the past several years.

This may not account for unreported self-organized workshops.  The Carpentries is working to improve data collection to have more accurate reflections of our scope of work.

In [ ]:
workshops_by_carpentry_year = workshops_nonTTT.groupby([workshops_nonTTT['start'].dt.year, 'tag'])['slug'].count().unstack()
workshops_by_carpentry_year['total'] = workshops_by_carpentry_year.sum(axis=1)
workshops_by_carpentry_year.index.values
workshops_by_carpentry_year = workshops_by_carpentry_year.rename(index = {2018:'2018Q1'})
workshops_by_carpentry_year

# Values should be ints not floats

### Workshops by Carpentry by year: Chart view

In [ ]:
fig = plt.figure(figsize=(12, 6)) # Create matplotlib figure

ax = fig.add_subplot(111) # Create matplotlib axes
width = .5
title = "Carpentries workshops count by year"
workshops_by_carpentry_year.plot(y = ["DC", "SWC"], kind='bar', ax=ax, width=width, position=1, title=title)

ax.grid(True)

plt.show()

### Table: Count Total SWC and DC workshops by country by year

In [ ]:
workshops_by_country_year = workshops_nonTTT.groupby(['country', workshops_nonTTT['start'].dt.year])['slug'].count().unstack()
workshops_by_country_year = workshops_by_country_year.fillna(0)
workshops_by_country_year.rename(columns={2018: '2018Q1'}, inplace=True)
workshops_by_country_year['total'] = workshops_by_country_year.sum(axis=1)
workshops_by_country_year

# Values should be ints not floats

### Chart: Count Total SWC and DC workshops by country by year
*How can we make this chart easier to read?*

In [ ]:
fig = plt.figure(figsize=(12, 6)) # Create matplotlib figure

ax = fig.add_subplot(111) # Create matplotlib axes

title = "Carpentries workshops by country by year"
workshops_by_country_year.plot(y = list(workshops_by_country_year)[:-1], kind='bar', ax=ax, position=1, title=title)

ax.grid(True)

plt.show()

list(workshops_by_country_year)

### Compare Q1 2017 and Q1 2018 Workshops by country: table view

In [ ]:
# # Get all workshops for 2017 Q1
workshops_2017Q1 = workshops_nonTTT[(workshops_nonTTT['start'].dt.year == 2017) & (workshops_nonTTT['start'].dt.month <= 3)]

# # Get all workshops for 2018 Q1
workshops_2018Q1 = workshops_nonTTT[(workshops_nonTTT['start'].dt.year == 2018) & (workshops_nonTTT['start'].dt.month <= 3)]

# 2017 Q1 workshops by country
workshops_by_country_year_2017Q1 = workshops_2017Q1.groupby(['country', workshops_nonTTT['start'].dt.year])['slug'].count().unstack()
workshops_by_country_year_2017Q1.rename(columns={2017:'2017Q1'}, inplace=True)

# 2018 Q1 workshops by country
workshops_by_country_year_2018Q1 = workshops_2018Q1.groupby(['country', workshops_nonTTT['start'].dt.year])['slug'].count().unstack()
workshops_by_country_year_2018Q1.rename(columns={2018:'2018Q1'}, inplace=True)

# Concatenated table, 2017 Q1 and 2018 Q1 workshops by country
workshops_by_country_year_1718Q1 = pd.concat([workshops_by_country_year_2017Q1, workshops_by_country_year_2018Q1], axis=1)

workshops_by_country_year_1718Q1
# Values should be ints not floats

### Compare Q1 2017 and Q1 2018 Workshops by country: chart view

In [ ]:
fig = plt.figure(figsize=(12, 6)) # Create matplotlib figure

ax = fig.add_subplot(111) # Create matplotlib axes
width = 0.25

workshops_by_country_year_1718Q1['2017Q1'].plot(kind='bar', color='lightgreen', ax=ax, width=width, position=1, edgecolor = 'green',  linewidth = 1)
workshops_by_country_year_1718Q1['2018Q1'].plot(kind='bar', color='lightblue', ax=ax, width=width, position=0, edgecolor = 'blue',  linewidth = 1)

ax.legend(["2017 Q1", "2018 Q1"]);

# ax.set_xticklabels(workshops_by_country_2018_Q1_all_countries.country)
ax.grid(True)

plt.title("Count workshops by country, Q1 2017 & Q1 2018")

plt.show()

### Proportion of 2017 workshops that were in 2017 Q1
Rather than comparing 2017 Q1 and 2017 Q1, can we compare all 2017 and projected 2018?  This value is very close to 25%.

In [ ]:
total2017 = workshops_nonTTT[workshops_nonTTT['start'].dt.year == 2017]
Q1_2017 = total2017[total2017['start'].dt.month <= 3]

total2017_count = len(total2017)
Q1_2017_count = len(Q1_2017)


Q1_2017_proportion = Q1_2017_count/total2017_count
Q1_2017_proportion

### When did each country have its first workshop?

Data goes back to 2012; some countries were holding Carpentries workshops before this time.

In [ ]:
w2 = workshops_by_country_year.copy()

# See https://stackoverflow.com/questions/31828240/first-non-null-value-per-row-from-a-list-of-pandas-columns
# and
# https://stackoverflow.com/questions/38467749/find-first-non-zero-value-in-each-row-of-pandas-dataframe

# Fill zero values with Nan to make them non valid values
res = w2[w2 != 0.0]

first_workshop = res.apply(pd.Series.first_valid_index, axis=1)
first_workshop

### Which countries had their first workshop in 2017?

In [ ]:
first_workshop_2017 = first_workshop[(first_workshop == 2017)]
first_workshop_2017

## Attendance at workshops

### Workshops missing attendance

In [ ]:
missing_attendance = workshops_nonTTT[pd.isnull(workshops['attendance'])]
missing_attendance

### Scatter plot showing frequency of attendance rates
Would like to add jitter to better visualize high frequencies in middle ranges.  Also overlay mean, median, mode for each year to show shift in measures of central tendancy.

In [ ]:
attendance = workshops_nonTTT[['start', 'attendance']]   #df['date'].dt.year
attendance['year'] = attendance['start'].dt.year
attendance.plot.scatter('year', 'attendance')

### Total attendance by year: Table view

In [ ]:
total_attendance_by_year = attendance.groupby('year')['attendance'].sum().to_frame()
total_attendance_by_year

# Values should be ints, not floats

### Total attendance by year: Chart view

In [ ]:
total_attendance_by_year.plot.bar()

### Binned attendance by year

This table shows by year, how many workshops had 1-10 learners, 11-20 learners, and so on.  Need to change the column heading 2018 to 2018Q1

In [ ]:
bins = pd.cut(attendance['attendance'], [1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, np.inf])
attendance.groupby(bins)['attendance'].agg(['count'])

binned_attendance_by_year = attendance.groupby([ bins, 'year'])['attendance'].agg(['count'])

binned_attendance_by_year =  binned_attendance_by_year.unstack()
binned_attendance_by_year['total'] = binned_attendance_by_year.sum(axis=1)

binned_attendance_by_year
# Values should all be ints, not floats

## Instructor Training

In [3]:
badges_by_training_event = pd.read_csv("data_files/badges_by_training_event.csv")

badges_by_training_event['pct_completion'] = badges_by_training_event['count_badged'] / badges_by_training_event['attendance'] * 100
badges_by_training_event = badges_by_training_event.round({'pct_completion':1})
badges_by_training_event['start'] = pd.to_datetime(badges_by_training_event['start'])


badges_by_training_event

,count_badged,slug,attendance,country,start,pct_completion
0,17,2012-08-26-ttt-online,20,W3,2012-08-26,85.0
1,19,2012-10-11-ttt-online,25,W3,2012-10-11,76.0
2,5,2013-01-06-ttt-online,12,W3,2013-01-06,41.7
3,18,2013-03-12-ttt-online,27,W3,2013-03-12,66.7
4,18,2013-05-12-ttt-online,45,W3,2013-05-12,40.0
5,24,2013-08-12-ttt-online,41,W3,2013-08-12,58.5
6,22,2013-09-30-ttt-online,57,W3,2013-09-30,38.6
7,25,2014-01-16-ttt-online,67,W3,2014-01-16,37.3
8,3,2014-04-14-ttt-pycon,34,W3,2014-04-14,8.8
9,24,2014-04-24-ttt-online,58,W3,2014-04-24,41.4
10,31,2014-04-28-ttt-mozilla,43,W3,2014-04-28,72.1
11,4,2014-06-05-ttt-online,29,W3,2014-06-05,13.8
12,27,2014-06-11-ttt-online,59,W3,2014-06-11,45.8
13,46,2014-09-10-ttt-online,81,W3,2014-09-10,56.8
14,12,2014-09-22-ttt-uva,31,W3,2014-09-22,38.7
15,21,2014-10-22-ttt-tgac,41,W3,2014-10-22,51.2
16,9,2014-11-12-ttt-washington,20,W3,2014-11-12,45.0
17,24,2015-01-06-ttt-ucdavis,44,W3,2015-01-06,54.5
18,59,2015-02-01-ttt-online,127,W3,2015-02-01,46.5
19,42,2015-02-11-ttt-melbourne,46,W3,2015-02-11,91.3
20,8,2015-03-10-ttt-lbl,12,W3,2015-03-10,66.7
21,6,2015-04-08-ttt-nih,17,W3,2015-04-08,35.3
22,16,2015-05-11-ttt-compute-canada,22,CA,2015-05-11,72.7
23,10,2015-05-27-ttt-msu,26,US,2015-05-27,38.5
24,12,2015-06-08-ttt-online,23,W3,2015-06-08,52.2
25,12,2015-06-12-ttt-iplant,26,US,2015-06-12,46.2
26,12,2015-06-16-ttt-aciref,24,US,2015-06-16,50.0
27,9,2015-09-08-ttt-online,18,W3,2015-09-08,50.0
28,11,2015-09-14-ttt-leeds,18,GB,2015-09-14,61.1
29,4,2015-09-21-ttt-icl,14,GB,2015-09-21,28.6
...,...,...,...,...,...,...
101,10,2017-09-21-ttt-online,26,W3,2017-09-21,38.5
102,8,2017-09-25-TTT-online,17,W3,2017-09-25,47.1
103,5,2017-09-28-curtin,16,AU,2017-09-28,31.2
104,7,2017-10-09-NWU-eResearch-ttt,34,ZA,2017-10-09,20.6
105,5,2017-10-10-ttt-doe,24,W3,2017-10-10,20.8
106,6,2017-10-16-Monsanto-ttt,7,US,2017-10-16,85.7
107,3,2017-10-19-ucsf-ttt,5,W3,2017-10-19,60.0
108,11,2017-10-24-ttt-online,19,W3,2017-10-24,57.9
109,10,2017-10-24-ttt-online-USA,23,W3,2017-10-24,43.5
110,7,2017-10-30-TTT-online,12,W3,2017-10-30,58.3
111,12,2017-10-30-imperial-ttt,19,GB,2017-10-30,63.2
112,9,2017-11-02-TTT-online,25,W3,2017-11-02,36.0
113,6,2017-11-06-ttt-Utrecht,16,NL,2017-11-07,37.5
114,8,2017-11-14-ttt-online,12,W3,2017-11-14,66.7
115,7,2017-11-15-ttt-stanford,14,US,2017-11-15,50.0
116,3,2017-12-04-ttt,8,W3,2017-12-04,37.5
117,8,2017-12-05-ttt-southampton,18,GB,2017-12-05,44.4
118,12,2017-12-12-ttt-online,17,W3,2017-12-12,70.6
119,3,2017-12-14-ttt-uiuc,10,US,2017-12-14,30.0
120,14,2018-01-30-ttt-USA,19,W3,2018-01-30,73.7
121,8,2018-01-30-ttt-online-UK,14,W3,2018-01-30,57.1
122,5,2018-02-05-ttt-online,24,W3,2018-02-05,20.8
123,5,2018-02-13-ttt-online,15,W3,2018-02-13,33.3
124,9,2018-02-21-South-Africa-ttt,17,ZA,2018-02-21,52.9
125,1,2018-02-26-ttt-stanford,12,US,2018-02-26,8.3
126,3,2018-02-28-ttt-online,16,W3,2018-02-28,18.8
127,3,2018-03-01-ttt-online,18,W3,2018-03-01,16.7
128,5,2018-03-05-ttt-florida,20,US,2018-03-05,25.0
129,1,2018-03-19-ttt-sfu,10,CA,2018-03-19,10.0
130,3,2018-03-20-ttt-online,11,W3,2018-03-20,27.3

### Number of instructor training events by country

In [ ]:
trainigs_by_country = badges_by_training_event.groupby([badges_by_training_event['start'].dt.year, 'country'])['slug'].count().unstack()
trainigs_by_country['total'] = trainings_online_inperson.sum(axis=1)
trainigs_by_country.index.values
trainigs_by_country = trainigs_by_country.rename(index = {2018:'2018Q1'})
trainigs_by_country

### Binned completion rates for instructor training events by year

In [ ]:
bins = pd.cut(badges_by_training_event['pct_completion'], [0, 25, 50, 75, 99, 100])
binned_badges_by_year = badges_by_training_event.groupby([ bins, badges_by_training_event['start'].dt.year])['pct_completion'].agg(['count'])

binned_badges_by_year =  binned_badges_by_year.unstack()
binned_badges_by_year['total'] = binned_badges_by_year.sum(axis=1)

binned_badges_by_year

# Need to add total row
# Need to remove 2018 (even Q1 - none of these people are expected to be badged)
# Values should all be ints, not floats
# Table reads "6 events in 2016 had a completion rate under 25%"

### Attendance and number badged by year

#### Total attendance by year

In [ ]:
attendance_by_year = badges_by_training_event.groupby([badges_by_training_event['start'].dt.year, 'country'])['attendance'].sum().unstack()
attendance_by_year

# trainigs_by_country = badges_by_training_event.groupby([badges_by_training_event['start'].dt.year, 'country'])['slug'].count().unstack()

#### Total badged by year

In [ ]:
badges_by_year = badges_by_training_event.groupby([badges_by_training_event['start'].dt.year, 'country'])['count_badged'].sum().unstack()
badges_by_year

#### Percent of trainees badged per year
Note the country data shows the country the event was held in, not the country the trainee is based in.

In [ ]:
percent_badged_by_year = badges_by_year/attendance_by_year*100

# badges_by_training_event.round({'pct_completion':1})
percent_badged_by_year = percent_badged_by_year.round(1)
percent_badged_by_year

### Comparison:  Inperson vs Online Training Events
#### Number of events per year

In [ ]:
# In person training events

countries = list(trainigs_by_country)
countries.remove('W3')
countries.remove('total')
inperson_trainings = trainigs_by_country[countries].sum(axis = 1).to_frame()

online_trainings = trainigs_by_country[['W3']]

trainings_online_inperson = pd.concat([country_trainings, online_trainings], axis=1)

trainings_online_inperson.rename(columns = {0:'in-person', 'W3':'online'}, inplace=True)

trainings_online_inperson

### Binned completion rates for instructor training events by year: online events only

### Binned completion rates for instructor training events by year: inperson events only